.rowLogo {
    /* background-color: rgb(193, 215, 194) */
    background-color: rgb(193, 215, 206);
    background-image: linear-gradient(to bottom right, rgb(193, 215, 206), rgb(161, 187, 176));
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.logoDiv {
    margin: 20px 0px -25px 0px;
    width: 100%;
    /* margin: 15% 0% 20% 0%; */
    
    /* display: block; */
    text-align: center;
}
.siteLogo1 {
    /* height: 150px; */
    /* margin: 20px 0px 20px 0px; */
    /* padding: 50px; */

    font-family: 'Homemade Apple', cursive;
    font-size: 720%;
    color: rgb(238, 135, 33);
    width: 80%;
    /* margin: 0px 0px 0px 50px; */
    /* font-weight: bold; */
}
.siteLogo2 {
    font-family: 'Playfair Display', serif;
    font-size: 480%;
    font-weight: bold;
    width: 80%;
    /* vertical-align: bottom; */
    /* display: inline; */
    /* margin: 0px 50px 0px 0px; */
    /* color: rgb(84, 120, 123); */
    /* color: rgb(212, 168, 78); */
    /* color: rgb(163, 105, 48); */
    color: rgb(180, 131, 82);
    
    /* margin: 50px 0px;
    padding: 0; */
}
/* .navParent {
    position: relative;
} */
a {
    color:rgb(187, 98, 90);
}
a:hover {
    color:rgb(156, 75, 41);
    text-decoration: none;
}
.nav {
    font-family: 'Playfair Display', serif;
    color: rgb(155, 114, 97);
    /* margin: 150px 0 0 0; */
    /* margin-bottom: 0; */
    position: absolute;
    top: 10px;
    right: 50px;
    /* display: inline; */
}
.navSpan {
    display: inline;
    color:rgb(187, 98, 90);
}

.mainBody {
    background-color: rgb(246, 252, 247);
    font-family: 'Playfair Display', serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


.articleTitle1 {
    font-family: 'Playfair Display', serif;
    /* color: rgb(155, 114, 97); */
    color: rgb(187, 98, 90);
    font-weight: bold;
    font-size: 40px;
    margin: 15px 0 0 0;
}
.articleTitle2 {
    font-family: 'Playfair Display', serif;
    /* color: rgb(155, 114, 97); */
    color: rgb(187, 98, 90);
    font-weight: bold;
    font-size: 20px;
    margin: 15px 0 0 0;
}
.articleAuthor1 {
    font-family: 'Playfair Display', serif;
    /* color: rgb(155, 114, 97); */
    color: rgb(87, 199, 199);
    font-size: 15px;
    margin: 5px 10px;
}
.articleAuthor2 {
    font-family: 'Playfair Display', serif;
    /* color: rgb(155, 114, 97); */
    color: rgb(87, 199, 199);
    font-size: 12px;
    margin: 5px 10px;
}
.articleBody1 {
    font-family: 'Playfair Display', serif;
    color: rgb(155, 114, 97);
}
.articleBody2 {
    font-family: 'Playfair Display', serif;
    color: rgb(155, 114, 97);
}

.contRead {
    font-style: italic;
}

.articleImageSpacer{
    margin: 30px 0 0 0;
}
.summerReading {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 0 5px 0 5px;
}

.archiveMain {
    width: 100%;
    text-align: center;
}



.archiveSideBar1 {
    font-family: 'Playfair Display', serif;
    /* color: rgb(155, 114, 97); */
    /* color: rgb(87, 199, 199); */
    font-size: 30px;
    font-weight: bold;
    margin: 5px 10px;
}
.archiveSideBar2 {
    font-family: 'Playfair Display', serif;
    /* color: rgb(155, 114, 97); */
    /* color: rgb(87, 199, 199); */
    font-size: 30px;
    
    margin: 5px 10px;
}




/*
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,900;1,500&display=swap');
*/

